<h1>Pirates</h1>
<form action="/pirates" method="POST">
  <label for="name">Name</label>
  <input type="text" name="pirate[name]" value="">
  <label for="weight">Weight</label>
  <input type="text" name="pirate[weight]" value="">
  <label for="height">Height</label>
  <input type="text" name="pirate[height]" value="">

  <h2>Ships</h2>
  <h3>First Ship</h3>
  <label for="name">Name</label>
  <input type="text" name="pirate[ships][0][name]" value="">
  <label for="type">Type</label>
  <input type="text" name="pirate[ships][0][type]" value="">
  <label for="booty">Booty</label>
  <input type="text" name="pirate[ships][0][booty]" value="">

  <h3>Second Ship</h3>
  <label for="name">Name</label>
  <input type="text" name="pirate[ships][1][name]" value="">
  <label for="type">Type</label>
  <input type="text" name="pirate[ships][1][type]" value="">
  <label for="booty">Booty</label>
  <input type="text" name="pirate[ships][1][booty]" value="">
  <input type="submit" value="Submit">


</form>
